*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: grey;
}
#banner-img{
    background: url(barco.jpg);
    background-repeat: no-repeat;
    background-position: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-radius: 30px;
}
h1{
    font-size: 10rem;
    mix-blend-mode: difference;
    filter: contrast(2px);
    text-shadow: 2px 2px #1001019c;
    color: white;
}

.s2-Title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.s2-p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
}